body
{
    font-family: 'Merienda';
    background-color: cornflowerblue;
}

.header_div
{
    background-color: floralwhite;
    color: darkblue;
}

.header_div p 
{
    font-family: 'Roboto', sans-serif;
    color:plum;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Merienda', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer
{
    position: fixed;
    color: rgb(9, 70, 253);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(132, 114, 247);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(178, 185, 248);
}